# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Modify the effects armor has on entities when worn
##########################################################################################################

armor {

    item_skeleArmorHead_item_skeleArmorHead {
        S:01.ID=MutantCreatures:item.skeleArmorHead
        D:"02.Temp Add - Night"=-1.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_skeleArmorChest_item_skeleArmorChest {
        S:01.ID=MutantCreatures:item.skeleArmorChest
        D:"02.Temp Add - Night"=-1.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
        B:"10.Allow Camel Pack"=true
    }

    item_skeleArmorLegs_item_skeleArmorLegs {
        S:01.ID=MutantCreatures:item.skeleArmorLegs
        D:"02.Temp Add - Night"=-1.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    item_skeleArmorBoots_item_skeleArmorBoots {
        S:01.ID=MutantCreatures:item.skeleArmorBoots
        D:"02.Temp Add - Night"=-1.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=2.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.1
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom effects for items
##########################################################################################################

items {

    item_mcSpawnEgg_item_mcSpawnEgg {
        S:01.Name=MutantCreatures:item.mcSpawnEgg
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_creeperShard_item_creeperShard {
        S:01.Name=MutantCreatures:item.creeperShard
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_creeperStats_item_creeperStats {
        S:01.Name=MutantCreatures:item.creeperStats
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_hulkHammer_item_hulkHammer {
        S:01.Name=MutantCreatures:item.hulkHammer
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_chemicalX_item_chemicalX {
        S:01.Name=MutantCreatures:item.chemicalX
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_endersoulHand_item_endersoulHand {
        S:01.Name=MutantCreatures:item.endersoulHand
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_skeletonPart_item_skeletonPart {
        S:01.Name=MutantCreatures:item.skeletonPart
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_skeleArmorHead_item_skeleArmorHead {
        S:01.Name=MutantCreatures:item.skeleArmorHead
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_skeleArmorChest_item_skeleArmorChest {
        S:01.Name=MutantCreatures:item.skeleArmorChest
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_skeleArmorLegs_item_skeleArmorLegs {
        S:01.Name=MutantCreatures:item.skeleArmorLegs
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_skeleArmorBoots_item_skeleArmorBoots {
        S:01.Name=MutantCreatures:item.skeleArmorBoots
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

}


